<!DOCTYPE html>
<html>
  <head>
    <title>Flixter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://vjs.zencdn.net/7.5.5/video-js.css" rel="stylesheet" />
  </head>

  <body>
    <div id="flex-content-container">
      <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <%= link_to 'Flixter', root_path, class: 'navbar-brand' %>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav mr-auto mt-2 mt-md-0">
            <li class="nav-item">              
              <%= link_to 'See All Courses', courses_path, class: 'nav-link' %>
            </li>
          </ul>

          <ul class="navbar-nav">
            <% if user_signed_in? %>
              <li class="nav-item">
                <%= link_to 'My Dashboard', dashboard_path, class: 'nav-link'%>
              </li>
              <li class="nav-item">
                <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'nav-link' %>
              </li>
            <% else %>
              <li class="nav-item">
                <%= link_to 'Sign In', new_user_session_path, class: 'nav-link' %>
              </li>
              <li class="nav-item">
                <%= link_to 'Sign Up', new_user_registration_path, class: 'nav-link' %>
              </li>
            <% end %>
          </ul>
        </div>
      </nav>

      <p>
        <% if notice.present? %>
          <p class="alert alert-info"> <%= notice %> </p>
        <% end %>

        <% if alert.present? %>
          <p class="alert alert-danger"> <%= alert %> </p>
        <% end %>
      </p>

      <%= yield %>
    </div>

    <div id="footer">
      <div class="container">
        <div class="row">

          <div class="col-12 col-sm-3">
            <h6>Teachers</h6>
            <%= link_to 'Build a Course', new_instructor_course_path %><!-- Changed from 'Teach a Course' -->
            <br />
            <%= link_to 'My Dashboard', dashboard_path %>
          </div>

          <div class="col-12 col-sm-3">
            <h6>About</h6>
            <!-- Non-necessary pages
            %= link_to 'Team', '#' %>
            <br />
            <%= link_to 'Careers', '#' %>
            <br /
            -->
            <%= link_to 'Privacy Policy', privacy_path %>        
          </div>

          <div class="col-12 col-sm-3">
            <h6>Contact</h6>

            JustinExample@Example.org
            <br />
            One Kendall Square
            <br />
            Cambridge MA, 02113
          </div>

          <div class="col-12 col-sm-3 social">
            <h6>Social</h6>

            <%= link_to 'https://github.com/Gamesmith9000/Flixter' do %>
              <span class="fa fa-github-square fa-2x social-button"></span>
            <% end %>
            <!--span class="fa fa-facebook-square fa-2x social-button"></span-->
            <!--span class="fa fa-twitter-square fa-2x social-button"></span-->
            <!-- I don't have accounts set up for these -->
          </div>

        </div>
      </div>
    </div>

    <script src="https://vjs.zencdn.net/7.5.5/video.js"></script>
    <script src="https://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script>

  </body>
</html>